:root {
    --donut: rgba(247,183,29,1);
    --chocolate: #512b12;
    --wheat: #f2c480;
    --cherry: #ca062a;
    --cheesecake:#fedd75;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro';
    background: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    padding: 2vh;
}

input[type=number] {
    width: 50%;
    color: white;
    background: transparent;
    border: none;
    text-align: center;
}

input[type=number]:nth-child(2) {
    background: rgb(207, 176, 104);
}


#checkout {
    width: 20%;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(165, 159, 159, 0.5));
    padding: 2vh;
}

#summary {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment_button {
    border: none;
    background: #EF5350;
    border-radius: 6px;
    margin: 2vh;
    padding: 1vh;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0 0.5rem 0.25rem rgba(211, 199, 199, 0.5));
    transition: background 0.5s;
}

.payment_button:hover {
    background: #e44542;
}

.line {
    color:  rgba(250, 250, 250, 0.5);
}

#order {
    border-radius: 6px;
    filter: drop-shadow(0 0.5rem 0.25rem rgba(211, 199, 199, 0.5));
    width: 60%;
    height: 90%;
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 0);
    grid-template-rows: repeat(2, 1fr) repeat(3, 0);
    grid-column-gap: 1vh;;
    grid-row-gap: 1vh;
}

#order_products {
    padding: 1vh;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px, auto;
    grid-column-gap: 1vh;;
    grid-row-gap: 5vh;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}


#order_message {
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(165, 159, 159, 0.5));
    padding: 1vh;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #585b66;
}

#order_message h2 {
    margin: 0;
    padding: 0;
    color: white;
}


#order_payment {
    background: white;
    border-radius: 20px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(165, 159, 159, 0.5));
    padding: 1vh;
    grid-area: 2 / 2 / 3 / 3;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #585b66;
}



#send_button {
    background: white;
    border-radius: 6px;
    border: none;
    padding: 1vh;
    margin: 1vh;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#send_button:before {
    content: '';
    background: #585b66;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1%;
    border-radius: 3px;
    transition: 0.2s;
    z-index: -1;
}

#send_button:hover:before {
    height: 100%;
}
#send_button:hover {
    color: white;
}


.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(165, 159, 159, 0.5));
    padding: 1vh;
}

.product:first-child {
    /* background-image: radial-gradient( circle farthest-corner at 24.7% 28.8%,  rgba(247,183,29,1) 1.9%, rgba(253,239,150,1) 97.7% ); */
    background: var(--donut);
}

.product:nth-child(2) {
    /* background-image: radial-gradient( circle 251px at 4.1% 6.1%,  rgba(91,31,7,1) 9.3%, rgba(123,62,0,1) 90% ); */
    background: var(--chocolate);
}

.product:nth-child(3){
    /* background-image: radial-gradient( circle 898px at 10% 20%,  rgba(255,185,88,1) 0%, rgba(143,86,0,1) 90% ); */
    background: var(--wheat);
}

.product:nth-child(4){
    /* background-image: linear-gradient( 143.3deg,  rgba(216,27,96,1) 33.1%, rgba(237,107,154,1) 74.9% ); */
    background: var(--cherry);
}

.product:nth-child(5) {
    /* background-image: radial-gradient( circle 534px at 7.8% 17.6%,  rgba(254,253,112,1) 1.7%, rgba(248,143,111,1) 91.8% ); */
    background: var(--cheesecake);
}



.product img {
    width: 50%;
}

.product h4 {
    padding: 0;
    margin: 0;
    color: white;
}

.product_ordered {
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(165, 159, 159, 0.5));
    background-image: radial-gradient( circle 534px at 7.8% 17.6%,  rgba(254,253,112,1) 1.7%, rgba(248,143,111,1) 91.8% );
    padding: 1vh;
    width: 35%;
    color: white;
    margin: 1vh;
}

.product_ordered:nth-child(2) {
    background-image: radial-gradient( circle farthest-corner at 24.7% 28.8%,  rgba(247,183,29,1) 1.9%, rgba(253,239,150,1) 97.7% );
}

.product_ordered:nth-child(3) {
    background-image: radial-gradient( circle 251px at 4.1% 6.1%,  rgba(91,31,7,1) 9.3%, rgba(123,62,0,1) 90% );
}

.product_ordered:nth-child(4){
    background-image: radial-gradient( circle 898px at 10% 20%,  rgba(255,185,88,1) 0%, rgba(143,86,0,1) 90% );
}

.product_ordered:nth-child(5){
    background-image: linear-gradient( 143.3deg,  rgba(216,27,96,1) 33.1%, rgba(237,107,154,1) 74.9% );
}

.product:nth-child(6) {
    background-image: radial-gradient( circle 534px at 7.8% 17.6%,  rgba(254,253,112,1) 1.7%, rgba(248,143,111,1) 91.8% );
}


.product_ordered img {
    width: 30%;
    float: left;
}


